---
layout: default
permalink: /
---
<div class="hero col-12">
  <div class="hero-body text-center content">
    <h1>Zanesville GIS Wiki</h1>
    <p>Documentation & Resources for Zanesville GIS</p>
    <blockquote class="col-12">
      This purpose of this wiki is to provide information for how to manage the Zanesville GIS system. Further ReadMe files may be present in project folders.
    </blockquote>
  </div>
</div>

<!-- <form class="col-12" style="width:100%;margin-bottom:4rem;">
  <input autocomplete="off" class="form-input" type="text" id="search-input" placeholder="Search the docs..." style="border: 0.05rem solid #8acbf8;border-radius:6px;">
  <ul id="results-container" class="col-12"></ul>
</form> -->


{% assign categories = site.categories | sort %}
{% for category in categories %}
{% if category[0] != 'x-archive' %}
<div class="column col-sm-12">
  <a href="{{site.baseurl}}/{{category[0]}}/">
    <div class="card active">
      <div class="card-image"><img class="img-responsive" data-icon="{{category[0]}}" src="" alt="map"></div>
      <div class="card-header">
        <div class="card-title h3" style="text-transform:capitalize;">{{ category[0] }}</div>
        <div class="card-subtitle text-gray"></div>
      </div>
      <div class="card-body"></div>
      <div class="card-footer"></div>
    </div>
  </a>
</div>
{% endif %}
{% endfor %}

<div class="column col-12" style="margin-top: 2rem;">
{% for question in site.data.faq %}
<!-- details and summary Accordions example -->
<details class="accordion" open>
  <summary class="accordion-header" style="padding:1rem 1rem;border-radius:3px;background:whitesmoke">
    <i class="icon icon-arrow-right mr-1"></i>
    {{ question.question }}
  </summary>
  <div class="accordion-body">
    {{ question.answer }}
  </div>
</details>
{% endfor %}
</div>

<div class="column col-12" style="margin-top: 2rem;">
  <a href="/about/"><h5 style="letter-spacing:8px;text-align:center;">About</h5></a>
  <a href="{{site.baseurl}}/archive/"><h5 style="letter-spacing:8px;text-align:center;">Document Index</h5></a>
</div>

<script>
  const icons = {
    apps: "map-pin",
    data: "layers",
    documents: "book-open",
    tasks: "settings",
    tips: "bookmark",
    "x-archive": "archive"
  }
  const images = [...document.querySelectorAll(".card-image img")]
  images.map(i => {
    i.src = `https://icongr.am/feather/${icons[i.dataset.icon]}.svg?size=128&color=8ACBF8`
  })
</script>