---
layout: default
---
{% for post in site.posts %}
{% if post.name != "index.html" %}
<article class=" column col-3 col-sm-12">
    <div class="card">
      <div class="card-header">
        <a href="{{post.url}}" style="color:inherit;">
          <h3>{{post.title | replace: "_posts/", ""}}</h3>
        </a>
        <div></div>
      </div>
      <div class="card-body">
        {{ post.subtitle }}
      </div>
      <div class="card-footer">
        <a href="{{ post.url }}"><button class=" btn btn-outline">Read More</button>
        </a>
      </div>
    </div>
    </article>
    {% endif %}
    {% endfor %}