---
layout: default
---
<div id="content" class="column col-lg-12 col-10 post">

  {% include breadcrumbs.html %}
  
  <h1>{% if page.title %}{{page.title}}{% else %}{{ page.name | replace: ".md", " "}}{% endif %}</h1>
  {{ content }}
  <div>
  <hr>
  <h5>See Also</h5>
    {% for pagetag in page.tags %}
    {% assign tagname = pagetag %}
      {% for post in site.tags[tagname] %}
        {% if page.title != post.title %}<a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a><br>{% endif %}
      {% endfor %}
    {% endfor %}

  </div>
</div>
<div class="column col-2 hide-lg">
  <div id="toc" class="js-toc">
  </div>
</div>
