---
layout: default
---
<div id="content" class="column col-lg-12 col-10 post">

  {% include breadcrumbs.html %}
  
  <h1>{% if page.title %}{{page.title}}{% else %}{{ page.name | replace: ".md", " "}}{% endif %}</h1>
  {{ content }}
  <!-- <div> -->
  <hr>
  <h2 id="realted-posts">Related Posts</h2>
    {% for pagetag in page.tags %}
    {% assign tagname = pagetag %}
      {% for post in site.tags[tagname] %}
        {% if page.title != post.title %}<a  rel="prefetch" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a><br>{% endif %}
      {% endfor %}
    {% endfor %}
  <!-- </div> -->
</div>
<div class="column col-2 hide-lg">
  <div id="toc" class="js-toc">
  </div>
</div>

{% if page.id %}
<script async defer src="{{site.baseurl}}/assets/js/tocbot.min.js"></script>
<script>
  window.onload = function () {
    console.log("tocbot")
    tocbot.init({
      // Where to render the table of contents.
      tocSelector: '#toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: '#content',
      orderedList: false,
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h1, h2, h3, h4',
    });
  }
</script>
{% endif %}
