---
layout: default
---
<!-- We're going to give each page a tag when we create it.
This will be the title -->
<div id="content" class="column col-md-12 col-10">
  <div id="breadcrumbs" style="opacity: 0.8;font-size:smaller;">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="/">Home</a>
    {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
    / {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
    {% else %}
    / <a
      href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>
<section class="column col-12">

  <h1>{{ page.tag | capitalize }}</h1>
  {% for post in site.tags[page.tag] %}
  <p>
    <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
  </p>
  {% endfor %}
</section>